{% extends 'customer_info/base.html' %}

{% block content %}
    <div class="mydiv container">

      <div class="card">
          <img src="" alt="" class="card__img">
          <div class="card__body">
              <h3 class="card__title">BASHMOH HOMES</h3>
              <p class='card__text'><em>...Providing housing for all.</em></p>
          </div>
        </div>
        <hr>
        <div class="container">
          <div class="d-grid gap-2 col-6 mx-auto" id="submit">
            <a class="btn btn-success btn-lg" type="button" href="">CHECK YOUR ACCOUNT STATUS</a>
          </div>
      </div>
    </div>
{% endblock %}
